@import "../../styles/variables.scss";

@mixin tag-x-list {
  @for $i from 12 through 24 {
    .tag-#{$i} {
      font-size: #{$i}px !important;
      margin-inline: 4px;
      align-self: center !important;
    }
  }
}

.tagCloudComponentContainer {
  display: grid;
  grid-template-columns: 1fr;

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    span {
      cursor: pointer;
      text-transform: capitalize;
      transition-duration: 0.5s;

      &:hover {
        color: $secondary-lighter !important;
      }

      &::after {
        content: ",";
      }

      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}

.ctaButton {
  margin-left: auto;
  margin-block: 0.75rem;
  cursor: pointer;

  &:hover {
    color: $secondary-lighter !important;
  }
}

@include tag-x-list();
