@import "../../styles/_variables.scss";

@mixin tag-x-list {
  @for $i from 12 through 24 {
    .tag-#{$i} {
      font-size: #{$i + 3}px !important;
      margin-inline: 4px;
      align-self: center !important;
      color: white;
    }

    @media screen and (max-width: 1439px) {
      .tag-#{$i} {
        margin-block: 0px;
        font-size: #{$i}px !important;
      }
    }
  }
}

.tagCloudComponentContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  border-top: 5px solid $secondary-lighter;

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    span {
      cursor: pointer;
      transition-duration: 0.5s;

      &:hover {
        color: $secondary-lighter !important;
      }

      &::before {
        content: "#";
      }

      &::after {
        content: ",";
      }

      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}

.ctaButton {
  margin-left: auto;
  margin-block: 0.75rem;
  cursor: pointer;

  &:hover {
    color: $secondary-lighter !important;
  }
}

@include tag-x-list();
