@import "../../../styles/variables.scss";

.featuredPostsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    cursor: pointer;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    
    div {
      flex: 1;
      padding-inline: 2rem;
      cursor: pointer;
      line-height: 1.15;
      padding-block: 1rem;
      display: flex;
      flex-direction: column;

      .author {
        color: rgb(82, 82, 82);
        margin-block: 5px;
        font-size: 1rem;
        font-weight: 400;
        margin-top: auto;
      }

      .title {
        color: black;
        font-size: 1.5rem;
        margin-block: 0;
      }

      .excerpt {
        text-align: justify;
        margin-bottom: auto;
        color: black;
        hyphens: auto; 
      }
    }

    .highlightedText {
      background-color: $secondary-lighter;
    }
  }
}

.imageAnchor {
  display: flex;
  
}

@media screen and (max-width: 1800px) {
  .featuredPostsContainer {
    .excerpt {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 1550px) {
  .featuredPostsContainer {
    .textContainer {
      .author {
        font-size: 0.85rem !important;
      }

      .excerpt {
        margin-block: 0;
        line-height: 1.1;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .featuredPostsContainer {
    grid-template-columns: 1fr;
  }
}
