.introContainer {
  display: flex;
  margin-inline: auto;
  margin-block: 6rem;
  width: 80%;
  gap: 3rem;

  img {
    display: block;
    max-width: 330px;
    max-height: 295px;
    width: auto;
    height: auto;
    margin-block: auto;
    object-fit: contain;
  }

  .textContainer {
    margin-block: auto;
    text-align: justify;
    line-height: 1;

    h2 {
      font-size: 2rem;
      text-transform: uppercase;
      hyphens: auto;
    }

    p {
      line-height: 1.1;
      font-size: 1.25rem;
      color: black;
    }
  }
}

@media screen and (max-width: 900px) {
  .introContainer {
    flex-direction: column;

    .textContainer {
      p {
        font-size: 0.9rem;
      }
    }
  }
}
