@import "../../../styles/_variables.scss";

.postListElementContainer {
  padding-inline: 10rem;
  padding-block: 3rem;

  .author {
    color: rgb(82, 82, 82);
    margin-block: 0;
  }

  .title {
    margin: 0;
    line-height: 1.1;
    cursor: pointer;
    color: black;

    &:hover {
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }

  .excerpt {
    text-align: justify;
    font-size: 1.25rem;
    hyphens: auto;
  }

  .readMoreContainer {
    a {
      display: flex;
      
      .readMore {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        text-decoration-style: dashed;
        margin-left: auto;
        background-color: $secondary-lighter;
        color: black;
        padding-inline: 2rem;
        padding-block: 5px;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .postListElementContainer {
    padding-inline: 2rem;
  }
}
