@import "../../styles/_variables.scss";

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;

  .logoImage {
    filter: invert(100%);
  }

  .firstLine {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: -1px;
    padding: 0;
    line-height: 1;
    color: $secondary-lighter;
  }

  .secondLine {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 25px;
    margin-right: -25px;
  }

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Edge, Opera and Firefox */
}

@media screen and (max-width: 900px) {
  .logoContainer {
    margin-block: 1.5rem;
    max-width: 60%;
  }

  .secondLine {
    font-size: 0.75rem !important;
    letter-spacing: 15px !important;
    margin-right: -15px !important;

  }


}
