@import "../../styles/variables.scss";

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 3rem;
  text-align: center;
  cursor: pointer;
  filter: invert(100%);

  .firstLine {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: -1px;
    padding: 0;
    line-height: 1;
    color: $secondary-lighter;
  }

  .secondLine {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 20px;
    margin-right: -20px;
  }

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Edge, Opera and Firefox */
}
