@import '../../styles/variables.scss';

.menuDrawerContainer {
  background-color: $menu-background;
  color: white;
  display: flex;
  padding-inline: 2rem;

  svg {
    margin-block: auto;
    margin-left: auto;
    font-size: 2rem;
  }
}
