.menuDrawerContainer {
  background-color: black;
  color: white;
  display: flex;
  padding-inline: 2rem;
  max-width: 40vw;

  svg {
    margin-block: auto;
    margin-left: auto;
    font-size: 2rem;
  }
}
