$primary: #FF4A1C;
$primary-lighter: lighten($primary, 25%);
$primary-lightest: lighten($primary, 50%);
$primary-darker: darken($primary, 10%);
$primary-darkest: darken($primary, 25%);

$secondary: #F5BB00;
$secondary-lighter: lighten($secondary, 30%);
$secondary-lightest: lighten($secondary, 50%);
$secondary-darker: darken($secondary, 10%);
$secondary-darkest: darken($secondary, 20%);

$menu-background: darken(#000, 15%);