.authorsContainer {
  dislay: flex;
  flex-direction: column;
  padding: 3rem;

  .singleAuthor {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    margin-block: 1rem;

    img {
      width: 200px;
      border-radius: 25px;
    }

    .authorText {
      margin-block: auto;

      .authorDescription {
        text-align: justify;

        a {
          font-family: "Montserrat";
          text-decoration: underline;
          text-decoration-style: dotted;
        }
      }

      .authorName {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .authorsContainer {
    .singleAuthor {
      grid-template-columns: 1fr;
      margin-bottom: 5rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      img {
        width: 100%;
      }
      
      .authorName {
        text-align: center;
      }
    
      .authorDescription {
        text-align: left !important;
      }
    }
  }
  
}
