@import "../styles/variables.scss";

.collectionsContainer {
  padding-inline: 3rem;
  padding-block: 0.5rem;

  .collection {
    margin-block: 2rem;

    .collectionName {
      font-size: 2rem;
    }

    .collectionArticle {
      margin-left: 1rem;
      margin-block: 12px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        text-decoration-style: dotted;
      }
    }
  }
}
