@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Oswald";
}

p {
  font-family: "Montserrat";
  font-weight: 400;
  hyphens: auto;
  color: black !important;
}

.has-large-font-size {
  font-size: 1.25rem;
  font-weight: bold;
  padding-inline: 2rem;
}

.has-large-font-size strong {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 1.75rem;
  padding-left: 10px;
  border-left: 10px solid $secondary-lighter;
  text-align: left !important;
  hyphens: none;
  margin-top: 5rem;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

.footnote-number {
  vertical-align: super;
  text-decoration: none !important;
  font-family: "Oswald" !important;
  font-weight: bold;
  font-size: 0.75rem;
}

.singlePostContent {
  .has-large-font-size {
    &:first-child {
      strong {
        margin-top: 1rem !important;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  p {
    font-size: 0.85rem;
    font-weight: 400;
  }

  .has-large-font-size {
    font-size: 1rem;
    line-height: 1.1;
    text-align: left !important;
    padding-inline: 1.25rem;

    strong {
      font-size: 1.33rem;
      text-align: center !important;
      padding-inline: 10px !important;
      border-right: 10px solid $secondary-lighter;
    }
  }
}

@media screen and (max-width: 1400px) {
  p {
    font-weight: 500;
  }
}
