.container {
  background-color: white;

  .bodyContainerDesktop {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .bodyContainerMobile {
    display: flex;
    flex-direction: column;
  }
}
