@import "../styles/_variables.scss";

.singlePostContainer {
  .metaInfoContainer {
    width: 100%;
    background-color: $secondary-lighter;
    padding: 2rem;

    .author {
      font-size: 1rem;
    }

    .title {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.15;
    }
  }

  .imageContainer {
    float: left;
    width: 40%;
    margin: 2rem;
  }

  .content {
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    hyphens: auto;
    font-size: 1rem;
    scroll-behavior: smooth;

    * {
      font-family: "Montserrat";
    }

    a {
      text-decoration: underline;
    }

    em {
      font-weight: 700;
    }

    img {
      max-width: 80%;
      margin-left: 10%;
    }
  }
}

@media screen and (max-width: 900px) {
  .singlePostContainer {
    width: 100vw;
    .imageContainer {
      width: 100%;
      float: none;
      margin: 0;
    }
  }
}
