.postsContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;

  .paginationContainer {
    margin-inline: auto;
    margin-top: auto;
    margin-bottom: 2rem;
  }
}

