$primary: #d14900;
$primary-darker: #a73a00;
$primary-darkest: #7d2c00;
$primary-lighter: #da6d33;
$primary-lightest: #e39266;

$secondary: #071E44;
$secondary-darker: #061836;
$secondary-darkest: #041229;
$secondary-lighter: #013D6F;
$secondary-lightest: #6a788f;